[2016-11-29 12:55] Nava2 opened #4 "Setup Travis CI"
Setup this project to build under Travis CI.

All that should be performed in Travis:

1. `./gradlew check`

It's not a lot, but it gives a point of knowledge for failure. It looks like the `check` task is run by default, this setup should be quick and easy. 👍

[2016-12-16 21:47] vahdat-ab opened #5 "I cannot see the generated Java code"
I have the following script
[code]
I build and no issue at all.
I have an Umple file called test.ump with the following content:
[code]
When I execute the following command
[code]
it shows the following message:
[code]
Where is the Java file `X.java` now? I couldn't file it.
@ahochheiden

[2016-12-17 13:10] ahochheiden commented on #5
If you don't set the **outputPath**, it should just create a folder in the directory of your Gradle build script called **umpleOutput**, which will contain all the code generated by Umple.

**Step 1:**
Initial directory:
![http://i.imgur.com/L5JWk3u.png](http://i.imgur.com/L5JWk3u.png)

My build.gradle:
[code]

My test.ump:
[code]

**Step 2:**
[code]

**Step 3:**
After calling Umple through gradle

[2016-12-18 16:26] vahdat-ab commented on #5
I have the following settings:
`c:\umple.gradle`
`c:\test`
Gradle's version is 3.1

I have exactly the above build script and umple file inside the `test` folder and when run your script it gives the following error:
[code]
what I miss? can it be because of the difference in the versions?

[2016-12-18 16:41] vahdat-ab commented on #5
Now, it works based on the recent update on the plugin
[code]
However, I couldn't run it through the local addressing. curious why :-) ?

[2016-12-18 16:53] vahdat-ab commented on #5
Another thing that I noticed is that I cannot build if umple.jar is not there. It is supposed to be downloaded automatically when it's the fist time. If I build for the first time, I get the following error:
[code]
The way I solve it is to comment the following line
[code]
It downloads the umple.jar and then I uncomment `apply plugin: "umple.gradle.plugin"`. After that it works perfectly

[2016-12-18 17:17] ahochheiden commented on #5
Yeah, I realized the most recently published version didn't match master early this morning. I got the API keys from Tim and published master after changing to version 0.1.1. I think that was the problem, since my scripts were working fine with my locally built version.

I'm not sure what you mean by this.

I never noticed this. My manual test strategy always involved building the plugin from scra

[2016-12-18 18:47] vahdat-ab commented on #5
Yes, you need to run it two times `gradle build`.
I'm still having issues related to running the script when I point it to a local reporsitory.
[code]

[2016-12-18 20:22] ahochheiden commented on #5
What does your current build script look like?

[2016-12-18 20:33] vahdat-ab commented on #5
[code]
I even run it with `0.1.0`

[2016-12-18 21:26] ahochheiden commented on #5
So you're building the gradle plugin locally and expecting it to be in ` /umple.gradle/libs/`, correct?

What command are you using to build it?

`gradle uploadArchives` puts it in `/umple.gradle/libs/` by default. I was using that to move it up and out to a relative nested path, since I hadn't gotten the local maven repository working.

If you don't use uploadArchives, and build with `gradle buil

[2016-12-18 21:52] Nava2 commented on #5
Just chiming in because I got all of these emails:

Do we have Umple hosted in Maven now? Or is this referring to the gradle plugin repository?

This is expected, it's gradle convention to put built artifacts in `/libs`. `uploadArchives` should work out of the box.

Your maven repository should already be present, it's in `~/.m2`, typically.
![Local Maven](https://cloud.githubusercontent.com/asset

[2016-12-18 22:00] vahdat-ab commented on #5
I don't know why this is the case, I need to run two times `gradle uploadArchives` to make it workin.
In order to run my script, It needs to run two times `gradle uploadArchives` in `umple.gradle` folder and then the script inside `test` will be executed.
I wonder you can explore this two times execution for both plugin and test? Plugin works but it's not straightforward to use it

[2016-12-18 22:35] ahochheiden commented on #5
[https://plugins.gradle.org/plugin/umple.gradle.plugin](https://plugins.gradle.org/plugin/umple.gradle.plugin)

Yeah, I wasn't saying there was anything wrong with this, just pointing out to Vahdat how it was working. You mentioning that uploadArchives is baseline helped though. I had uploadArchives explicitly defined, which overrides the default behavior. Removing it makes it publish to the maven

[2016-12-18 22:59] ahochheiden commented on #5
I found a way to make it work, but it seems really 'stupid', and goes against how I think about the mavenLocal directory.

https://github.com/umple/umple.gradle/commit/66838f7da4e1bdb3e03746fd390ab246b7979f52

Basically, I hard-coded it to the default path. To me the idea of mavenLocal is that it's a potentially dynamically located directory based on your maven settings. Hard coding it to the defa

[2017-02-26 01:36] AdamBJ opened #7 "Test overriding default plugin configuration options"
There currently are no integration tests to verify the behavior of the plugin if default configuration values (i.e. `outputPath`, `languageToGenerate`, `umpleFilePath`) are overwritten. This is because we don't yet know how we're going to pass configuration to the plugin.

Once we decide how we're going to pass configuration information to the plugin this issue should be resolved.

[2017-02-26 01:39] AdamBJ opened #8 "Improve how we pass configuration information to the plugin"
We're currently allowing users to override the default plugin configuration values by adding an extension to the project (`project.ext.('outputPath', 'my/path')`). We need to research a way to do this in a less hacky way, or agree that we're going to do it in the dumb way.

Once we make this decision, https://github.com/umple/umple.gradle/issues/7 needs to be dealt with.

[2017-02-26 03:53] AdamBJ opened #9 "Add integration tests to the plugin"
The plugin currently has no unit or integration tests. Before we go too far with the [Umple build conversion from Ant](https://github.com/umple/umple/issues/751#issuecomment-282145135), we should add JUnit integration and unit tests to the plugin to make sure we don't break anything as we develop the Gradle build.

The test should cover applying the plugin to a project, generating files using the

[2017-02-26 03:58] AdamBJ commented on #9
@Nava2 I've got a PR 95% ready to go to address this issue. The main thing blocking me is not being able to update the plugin in the Gradle plugin portal. Right now my build files are pointing to a local plugin jar, and if I submit a PR now you guys are going to need to change to path to point to where ever the local jar is on your system... much easier to just get everything from the plugin porta

[2017-02-26 04:01] AdamBJ opened #10 "Use Gradle to build a umple compiler jar"
At a high level, we need Gradle to:

1. "Compile" the `master.ump` files in the sub projects used by the plugin to generate the Java source the Umple compiler needs
2. Compile the generated Java source files and package them into a jar

See the discussion in https://github.com/umple/umple/issues/751#issuecomment-282145135 for details

[2017-02-26 04:02] AdamBJ commented on #10
@Nava2 @vahdat-ab Let's use this issue to track the progress of the Umple compiler jar task

[2017-02-26 04:27] vahdat-ab commented on #9
@AdamBJ  check your email. I sent the key to your email.

[2017-02-26 13:22] Nava2 commented on #9
@AdamBJ we should investigate how to do testing w/o the portal. This may involve a hard-coded path, but we would not want to update the portal with unreviewed code.

[2017-02-26 13:41] Nava2 commented on #4
The work in #9 will let this become a reality. Please do this after the base for #9 is complete, @AdamBJ.

[2017-02-26 22:52] AdamBJ commented on #9
@Nava2  To use a locally built copy of the plugin jar, have a look at the `buildscript` closure in the `build.gradle` file of `TestProject`. All you need to do is uncomment line 6 and 15 and comment out lines 7-9 and 14. Of course, you're also going to need to change `C:/Users/i_am_/workspace/umple.gradle/build/libs` to wherever you're storing the locally build plugin jar on your machine.

Doing t

[2017-02-26 23:11] Nava2 commented on #9
That's not quite good enough. It'll probably require some bootstrapping, but we need to test it without manual specification.

[2017-03-01 00:26] AdamBJ commented on #10
Hi @Nava2 @vahdat-ab,

I'm trying to decide which repo I should put the compiler jar work in. I see two options.

1. Copy the directories I'll need into `umple.gradle` and see if I can get the compiler built in an "artificial" environment. I'd create a branch in `umple.gradle` if I did it this way.
2. Add `build.gradle` files to `cruise.umple` and try to build the compiler in the "real" environmen

[2017-03-01 06:08] AdamBJ commented on #10
Found something that looks promising: https://discuss.gradle.org/t/how-to-include-sub-projects-in-settings-gradle-file/5096. I'm exploring the solution they suggest now.

[2017-03-01 22:00] AdamBJ commented on #8
@Nava2 I figured out how to add extra properties to source sets: https://docs.gradle.org/current/userguide/writing_build_scripts.html#sec:extra_properties.

I've got it working in my test project. So now instead of associating the configuration information with the project itself, the information's associated with the `generatedSource` source set. We're still using the same `ext` functionality, bu

[2017-03-01 22:06] AdamBJ commented on #10
I've got it working for `UmpleParser`. `UmpleParser`'s `master.ump` is being processed by the plugin, and the generated files are being written to `umple\cruise.umple\src-gen-umple`. Now I'm working on figuring out a couple pathing issues to make it easier to configure the root projects `settings.gradle` file. Good progress though!

[2017-03-02 03:24] vahdat-ab commented on #10
I would say keep the main project inside the root folder called `gradle.build`.
subprojects should be landed in their own  projects.
Indeed, those subprojects should have tasks that allow other people to build that specific project alone. The reason for this is this:
UmplePraser was a part of Umple compiler and last year we made it independent. It means anyone can grab it and use it for different

[2017-03-02 03:30] Nava2 commented on #10
I agree with @vahdat-ab on putting things in a `gradle.build` folder or similar. Once we can get the full build proven to replace the ant build, we can rename the folder and just have a `build` folder. That's a long way out, though! 👍

[2017-03-02 04:00] AdamBJ commented on #10
Ok, good. We're all agreed on a general structure then.

The problem I'm trying to overcome right now is dependencies. I've setup `UmpleParser` and `UmpleToJava` as sub projects of `gradle.build` in the way we agreed upon and have everything generating properly. The generated files are being outputted in the correct place in `cruise.umple` too, so that's good. However, When I try to compile I quic

[2017-03-02 06:15] Nava2 commented on #10
How are you setting your compile dependencies?

[2017-03-02 06:17] AdamBJ commented on #10
In `UmpleToJava`s `build.gradle` file:

[code]

Is what I've been experimenting with (replaced `...` with various options). I tried using the umple jar as a compile dependency, but that didn't work. I'm not sure what I should be listing exactly. Some kind of binary I guess, but I'm not sure what.

[2017-03-02 09:22] AdamBJ commented on #10
I did it! Jeez, took me all day but I finally cracked it after reviewing some classpath stuff. I added the `bin` folder to `generatedSource`'s `compileClasspath` like so:

`sourceSets.generatedSource.compileClasspath = project.files('../cruise.umple/gradleTest/bin')`

Go figure, binary files are kept in the `bin` folder. That makes sense now, haha

[2017-03-02 12:13] Nava2 commented on #10
I think the idea is okay, there's definitely a property in Gradle to denote the build directory name. Probably should use that rather than bin by default.

[2017-03-02 12:14] Nava2 commented on #10
Well done on all of this. You're doing great work!

[2017-03-02 22:34] #9 closed

[2017-03-02 22:46] AdamBJ commented on #4
I've started on this. #12 is me trying to get everything working. The problem right now is that Travis doesn't have access to the local `umple-latest` jar. One workaround that I can think of is to change the `download` task to this:

[code]

Rather than only downloading if the copy on the server is newer, we always download it.

[2017-03-03 20:17] #4 closed

[2017-03-03 20:17] AdamBJ commented on #4
This was closed by PR#12

[2017-03-07 22:47] AdamBJ commented on #10
Hi guys,

I've been thinking about how to get the most parallelization out of Gradle. I notice there's a `-parallel` flag we can use when building that [seems to build subproject in parallel](https://docs.gradle.org/current/userguide/multi_project_builds.html#sec:parallel_execution). However, it requires that all the project are "[decoupled](https://docs.gradle.org/current/userguide/multi_project_

[2017-03-08 01:32] Nava2 commented on #10
I feel its best to let gradle decide when to use parallel. If folks want to turn on the flag, let them. Ideally, we want things decoupled, but we can't always do that.

[2017-03-09 03:00] AdamBJ commented on #10
I've pushed a prototype that shows (roughly) how I'm going to structure the umple jar project: https://github.com/AdamBJ/umple/commit/d2ba1a35e36dfa68312a48351000ed1c75e856ae

I wouldn't trying running it locally on your machine at this point -- there's a lot of duct-tape holding it together and I'm not sure how it would work outside of my local machine. One thing I'll do is change it so that the

[2017-03-09 07:21] AdamBJ commented on #10
Hey @vahdat-ab @Nava2,

I've been looking at how Ant does the umple jar compilation. Here's the important bit:

[code]

Basically, it specifies a bunch of src directories where the java files are stored and then compiles them all. It also does some class path manipulation that I'm working on emulating with Gradle. One thing I'm not sure of though is if there's an order that the src directories are

[2017-03-09 07:25] AdamBJ commented on #10
Small update on the mysterious `}`. It seems that when I run `:CruiseUmple:compileGeneratedSourceJava` not only are the `cruise.umple` .java files within the `GradleTest` directory replaced, the `cruise.umple` .java files in the main `umple.gradle` directory are, too. I can't figure out why this is happening since I'm expliticly specifying in the `cruise.umple` build file that the output should be

[2017-03-09 13:13] Nava2 commented on #10
Normally, when working with Java projects we don't care about the order. In this case, you're right and we do have to care, now. I haven't the faintest what order of projects would be. Maybe @vahdat-ab knows. Though, I do believe it is more likely that you'll need to "guess and check" your way through that dependency graph.

Ivy just fills in the gaps for external dependencies, which you've alread

[2017-03-09 13:14] Nava2 commented on #10
I'm not a huge fan of forcing gradle to do strange things because of the project structure. Could you put together a proposal of what changes would need to be made to the project to make it more "gradle friendly?" These would include directory structure changes for the most part.

Additionally, could we revisit the `project.ext.*` methods, looking to get those back into a configuration object idea

[2017-03-09 15:09] vahdat-ab commented on #10
I have such issue with Eclipse plugin when I run two times a file which has a `main` method. Don't know why it happens

If you do compilation separately for each one you should be able to get it easily. According to my knowledge:
xtext.project.path is not supported anymore. We need such a thing for a new Eclipse plugin which is not `based on Xtext` The building of plugin must be done after the `ja

[2017-03-09 18:25] AdamBJ commented on #10
@Nava2

Here's the structure of the umple project:
[code]

As long as I put the `build.gradle` and `settings.gradle` file for the root project inside the main `umple` folder we don't need to overwrite the paths for many if not all of the sub projects. Putting the root project's `build.gradle` file directly inside `umple` makes Gradle think that `umple` is the root project directory. Since the sub

[2017-03-09 18:28] AdamBJ commented on #10
The issue with the extra `}` is very frustrating and will be a blocker for us not too far down the road. For now, I'm going to try and leave the `cruise.umple` sub project until the end. Let's just hope that none of the other sub projects have the same kind of problem.

[2017-03-09 18:35] vahdat-ab commented on #10
@AdamBJ NOTE: the issue with `{` doesn't show up if I run Umple.jar through the command line. It works perfectly.   It happens when one of the main classes is called through the code. The plugin doesn't call jar and it just uses the compiled classes.

[2017-03-09 18:42] AdamBJ commented on #10
@vahdat-ab Doesn't the umple jar contain the compiled classes? I thought that the plugin gets the `.class` files it needs from the umple jar.

Are you suggesting making the plugin somehow use the jar from the command line?

[2017-03-09 19:05] vahdat-ab commented on #10
@AdamBJ I don't suggest because in that case, we will get less flexibility in the plugin later. we need to find the reason. The compiler works correctly when it's packed in a jar.  When we use classes it happens (this is just based on my initial investigation).

[2017-03-09 19:25] AdamBJ commented on #10
It seems like all the `UmpleTo___` projects depend on `cruise.umple` so we're going to have to find a fix for the `}` issue. It seems like rebuilding the jar from the command line fixes things temporarily, so I'll use that as a workaround for now. But it's a couple minutes to wait for everything to build and generate each time I want to test a change 😢

[2017-03-09 19:25] Nava2 commented on #8
I think this looks like a great way to do this (sorry that I didn't see this before).

As long as the _users_ aren't writing `project.ext.foo = bar` I think it's great. Ergonomics are important to _users_ not plugin developers in this context.

[2017-03-09 19:26] Nava2 commented on #10
So could it be because the plugin is calling the Umple calls directly, aka something wierd is happening in umple's "cli" loop? I'm spit balling here.

For the project structure,

I would rather have them all called `build.gradle` to follow convention. It keeps the `settings.gradle` simpler, but I could see arguments both ways. _shrug_.

Nice thing is that gradle does do incremental builds, where a

[2017-03-09 20:05] vahdat-ab commented on #10
That's the beauty of plugins. Go with that until you figure out the issue. I don't want you to spend your time on that issue.

I don't think so because in the Eclipse plugin there is no loop and also I create always a new model and then run it.

@AdamBJ I wonder if the file you pointed out has a `main` method? In my case, it just happens when there is a `main` function in the class.

[2017-03-09 20:15] AdamBJ commented on #10
@vahdat-ab Yes, it has a main method. I guess it must be the same issue you're experiencing. I'm trying to get incremental builds working right now so I can avoid having to wait for the jar to rebuild every time I want to make a change.

[2017-03-09 20:25] AdamBJ commented on #8
Alright, I'll try to get to this today or tomorrow. The plugin readme will need to be updated as part of this fix, too. Instead of having to set the `ext` field on the `project`, users will need to create the `generatedSource` source set and set the `ext` fields there.

[2017-03-09 21:15] vahdat-ab commented on #10
@AdamBJ then ok. I talked to you about the possible source of the issue on skype. Check that one.

[2017-03-09 21:21] vahdat-ab commented on #10
@AdamBJ In the test case [DistributedClassTest](https://github.com/umple/umple/blob/e17650ee8379f5b0897139d20337ba11c7933fce/cruise.umple/test/cruise/umple/implementation/DistributedClassTest.java).java, you added the following line:
[code]
The issue might be because of `mainMainClass `

[2017-03-15 03:16] AdamBJ commented on #7
## The TL;DR list of tests  that need to be added
1. A test that uses the plugin to generate `.java` files and `.class` files from a Gradle project that doesn't overwrite the default plugin configuration values. Basically we need to do what we're doing for `TestProject` right now, but for a project that uses the default values rather than overriding them.
2. We currently only verify generated `.ja

[2017-03-15 17:05] AdamBJ commented on #10
Hey guys!

I made some good progress on getting the ivy dependencies transferred over to the Gradle build. What I've done is added the `core` ivy dependencies (ant and jopt-simple) to the generatedSource source set's `compileClasspath`:

The only way I could figure out how to do that was to make a `configuration` and then add the configuration to the source set's `compileClasspath` like this (in `

[2017-03-15 19:50] AdamBJ commented on #10
@Nava2 @vahdat-ab Here's a prototype build file for `UmpleToJava` that shows some of the techniques I'm using to get things built:

[code]

This is admittedly rough. Things could probably be grouped much more nicely using closures, but this post and my previous post shows two things:

1) We can do incremental builds (I haven't tested this fully, but it seems to be working)
2) We can add whatever d

[2017-03-16 02:22] #8 closed

[2017-03-16 02:27] AdamBJ commented on #10
Quick update. I'm still am not sure the reason `cruise.umple/bin` seems to be on the compile classpath. I've ask Tim about it and he didn't seem to know either. I've decided to ignore it for now, as the idea of preserving `.class` files between compilation runs seems ludicrous.

I've made some progress in determining the dependencies between the projects. It seems like the `UmpleTo_` all depend on

[2017-03-19 16:55] vahdat-ab commented on #10
Can't you get it from Ivy dependencies? One of them is `cruise.umple.nebula`

[2017-03-19 19:54] AdamBJ opened #14 "Improve how the plugin is passed configuration information (iteration 2)"
Kevin has made some changes to how the plugin reads configuration information from the projects it is applied to. See https://github.com/umple/umple.gradle/commit/d249ce1415aa58a86981b0c664db894ee89bd7d6

There are a number of issues to resolve before we can merge these changes into `master`. Roughly:

1) Add the Eclipse plugin to our plugin's `build.gradle` file. Do whatever initialization is nec

[2017-03-19 20:01] AdamBJ commented on #14
Referencing @vahdat-ab so that he knows what we're currently working on. I'm going to try and work on this issue in tandem with the umple compiler jar stuff we're discussing in #10

[2017-03-19 20:03] AdamBJ commented on #10
@vahdat-ab where do you see that? I see we're using the `core` and `test` Ivy dependencies, but those two configurations make no mention of `cruise.umple.nebula`. If `cruise.umple.nebula` is a dependency of `cruise.umple` that's very good to know. The next question is what are the dependencies of `cruise.umple.nebula`! I can try to figure that out by trial and error, but if you're aware of a depen

[2017-03-19 20:57] vahdat-ab commented on #14
Great, thanks.
Having Eclipse plugin as a part of the build is really important. Currently, it's done manually by me. Furthermore, the Eclipse plugin you need to work on is `org.cruise.umple.eclipse.plugin`. The other eclipse projects are obsolete.

[2017-03-19 21:00] vahdat-ab commented on #10
@AdamBJ unfortunately, people who worked on those dependencies have never documented and I just know that from my previous experience. To me, the best person who can comment on this is @aforward

[2017-03-19 21:25] AdamBJ commented on #10
Ok. @aforward, if you have any knowledge about the dependencies between the Umple sub projects I'd really appreciate hearing about it!

[2017-03-20 18:02] AdamBJ commented on #14
@vahdat-ab @Nava2 To be clear, what I was talking about was adding the Gradle Eclipse Plugin to our Gradle plugin's `build.umple` file so that people can develop the Umple Gradle plugin in Eclipse if they want to. I'm wasn't talking about building the Umple Eclipse Plugin with Gradle, although I think that's a good idea. @vahdat-ab I'm going to create a new issue for that.

[2017-03-20 18:03] AdamBJ opened #15 "Add a task to build the Umple Eclipse Plugin via Gradle"
Currently @vahdat-ab is manually building the Umple Eclipse plugin. We should automate this process via a Gradle task.

[2017-03-20 18:04] AdamBJ commented on #15
Vahdat, can you provide a description of the basic steps that should be followed to build `org.cruise.umple.eclipse.plugin`?

[2017-03-20 20:25] AdamBJ commented on #10
This is getting messier and messier. It appears the `UmpleToJava` depends on at least of a portion of `cruise.umple`. `cruise.umple` produces `cruise.umple.util`, which `UmpleToJava` needs:

[code]

However, it also appears that `cruise.umple` needs all of the `UmpleTo__` stuff!

Here's one of the error message I get if the `UmpleTo__` stuff isn't on the classpath:

[code]

So `UmpleToJava` needs

[2017-03-22 18:07] AdamBJ commented on #10
@vahdat-ab @Nava2 Guys, I'm not sure how well the "compile each sub project individually" plan is going to work. Like I mentioned in my last post here, there appears to be some circular dependencies between sub projects that make individual compilation very difficult. I've been looking at how the Ant build does it and it seems like Ant compiles *all* the sub projects at once. Since all the sub pro

[2017-03-22 18:26] Nava2 commented on #10
This screams like something we're better off doing right than quick. I think we need to figure out _why_ sub-projects depend on others and consider making a plan to start isolating those components better. This is outside my domain and reaching into @TimLethbridge and @vahdat-ab's.

If we need to do some refactoring of the projects themselves to extract commonality or define "better" groupings, th

[2017-03-22 18:40] AdamBJ commented on #10
I agree that completely untangling the dependency web is most likely beyond the scope of this semester. Having dipped my toe in that task, I think it'll take a lot of patience and time to get it done right. I believe @TimLethbridge mentioned that the UmpleParser was pulled out last year and that it took some effort. If we need to do something similar for the other projects it could be a big job in

[2017-03-22 20:13] vahdat-ab commented on #10
My suggestion is this:
1) generate code for each project and if it is possible compiler it independently. This is gonna happen to some projects.
2) generate code for the rest and build the final system

This can make the project get the shape and you can move further.

3) Highlight those projects and I'll assign them to someone in the future to refactor them. This is not sth that can be happened n

[2017-03-22 21:01] Nava2 commented on #10
I think that is an excellent idea. If we can figure out the classes in each project and map them to the project they live in, that'd be extremely useful in figuring out how to pull them apart. Easiest way is probably using a Java dependency analyzer, however, there may be something within Umple to figure that out, too (the graphviz stuff comes to mind). If it means augmenting something on top of U

[2017-03-22 21:15] vahdat-ab commented on #10
My point is this: since @AdamBJ has implemented the mechanism to generate and compile sub projects independently, so we have the infrastructure for the future improvement without worries regarding if it is doable or not. It is not like Ant that there is no way to go.
Once the dependencies are resolved we get what you guys have been trying hard to achieve. I know how hard resolving dependencies is

[2017-03-23 04:47] AdamBJ commented on #10
Ok, having taken everything you guys have said into account, here's what I'm going to:

1) Get the Umple compiler jar built. I'll independently compile as many of the projects as possible, but for those that I can't compile independently I'll do as a group.

2) Come up with a dependency map to help with the refactoring we'll do down the road.

There's obviously some overlap between these tasks, bu

[2017-03-23 05:20] AdamBJ commented on #10
Also, what is the purpose of the validator and umplificator projects? They're handled in a different way than the other projects, I think if I knew what they do I could make more sense of the special treatment they're getting.

The good news is that I don't think they're required to do a quick build. One of the Ant targets generates the Java files for them, but they aren't actually compiled. I sho

[2017-03-23 13:37] vahdat-ab commented on #10
This is a basic feature of the Umple compiler. You can feed several `.ump` file and the compiler will generate the code fo all of them. This is gonna be super easy to do. This feature should also be available in the plugin. BTW, compiling several `ump` files was my first issue fixed when I joint to the cruise team :-)

Regarding

I'm gonna send an email to the guy who worked on these. I'll ask for

[2017-03-23 16:53] Nava2 commented on #10
As @vahdat-ab said, yeup. Definitely. Default it to a single `Master.ump`, but definitely it should be a List of values.

Here's an example where I would rather "hack it" for the umple project itself. I don't like the idea of multiple `master.ump` files across projects. I would much rather we just have the code generated, then manually merge the source sets and compile them with Java. It is ugly a

[2017-03-23 22:37] AdamBJ opened #16 "Add support to the plugin for multiple `.ump` files"
We want to allow users of the plugin to specify multiple `.ump` files as input. Perhaps something like:
`umpleFilePath = ["path/to/first/master.ump", "path/to/second/master.ump"]`

This change should not be added until we've settled on a configuration style and resolved #14.

[2017-03-23 22:39] AdamBJ commented on #10
Ok, we'll add the ability to support multiple `.ump` files to the plugin, but stick to the "one subproject, one buildfile" rule for the Umple build. I've created a issue for the plugin upgrade: https://github.com/umple/umple.gradle/issues/16

[2017-03-28 22:40] Nava2 commented on #14
@AdamBJ Check this out: http://stackoverflow.com/a/43047325/1748595 (the comments particularly)

[2017-03-29 07:51] AdamBJ commented on #14
I've had a look at the comments. Seems like a good idea, though there's a lot of stuff that's new to me. Hard to wrap my head around. Here's a couple things I'm trying to figure out:

In your commit, you add the configuration defaults like this:

`project.extensions.add("umple", DefaultUmpleOptions)`

According to what the SO guy said, we should also be using a DslObject to somehow add a bunch of

[2017-03-30 08:25] AdamBJ commented on #14
Made a bit more progress today, though the going is still slow. There's a lot of stuff I still don't fully understand, like how the `DSLObject` works. [This guide](http://hamletdarcy.blogspot.ca/2010/03/gradle-plugin-conventions-groovy-magic.html) has been helpful for general understanding.  Hopefully I make more progress tomorrow.

FYI this is the error I've been battling when I try to run the `c

[2017-03-30 11:20] Nava2 commented on #14
That is a good resource. Is the code pushed in the branch? I'm finishing up writing my final exam for my course tonight, but I should have some time to look.

[2017-03-30 12:38] Nava2 commented on #14
Just checked, no code is up on github, could you push what you've been working on? I can take a look later.

[2017-03-30 19:49] AdamBJ commented on #14
I've [pushed my changes](https://github.com/umple/umple.gradle/commit/12342d712058f54dc293e93ee63fd6ce100f6069). They're still fairly rough (spacing etc will need to be fixed). The main changes I made are:

1) Add the `DSLObject` inside the `apply` method of `UmpleGradlePlugin.groovy`
2) Changed `UmpleSourceSet umple(Action<? super SourceDirectorySet> configureAction);` to `UmpleSourceSet umple(Ac

[2017-03-30 20:04] AdamBJ commented on #14
I think one problem is that we're changing how we're using `Convention`s in the main plugin groovy file.

To configure the `UmpleGenerate` task in `configureUmpleGenerate`, we're retrieving the convention like this:

`Convention umpleConvention = (Convention) InvokerHelper.getProperty(sourceSet, "convention")`

We used to be setting the convention like this:

`Convention sourceSetConvention = (Con

[2017-03-31 06:04] AdamBJ commented on #14
@vahdat-ab @Nava2

After a lot of poking and prodding we've finally got a plan for how we can fix the issues with the ss-config-2 branch. The problem right now is that we can't seem to specify custom configuration values. For example:

[code]

Leads to a "Unknown Property Error" for `umpleFilePath`. To resolve this issue, we need to add `umpleFilePath` (and the other configuration values) to `Defa

[2017-03-31 06:38] AdamBJ commented on #14
I had a quick look at things before bed. Here are the remaining issues as far as I can tell:

We're currently *only* using the default values from `DefaultUmpleOptions.groovy` in the `UmpleGenerateTask.groovy`. To put that a different way, we're only looking to `DefaultUmpleOptions.groovy` in order to set
[code]

Inside `UmpleGenerateTask.groovy`. `UmpleGenerateTask.groovy` is our generation task

[2017-03-31 12:40] Nava2 commented on #14
I think what we do for the generate task is just change it two one of two ways:

1. Have it iterate over each sourceSet checking if there's umple work
2. Create a generate task per sourceSet

I think the Java plugin prefers 1, so I'm inclined that way. :)

[2017-03-31 16:50] AdamBJ commented on #14
Ok, I'll look into adding the check within `configureUmpleGenerate`

[2017-04-01 04:58] AdamBJ commented on #14
@Nava2, the problem is that the configuration of the `umpleGenerateTask` happens *before* we read the information from the `umple` closure. It's a nasty problem, because `umpleGenerateTask` executes when the `java` plugin is applied. We need to apply the `java` plugin before we can configure source sets via the `umple` closure though... the return of the dreaded chicken or egg problem. The other p

[2017-04-01 05:30] AdamBJ commented on #14
Think I got it! When we run `configureUmpleGenerateTask` I add the `UmpleGenerateTask` to the `DefaultUmpleSourceSet` as a member variable. Then, when we process the `umple` closure and fill in the fields of the `DefaultUmpleSourceSet`, we've got the `UmpleGenerateTask` available and can override the default values! It ain't pretty, but it works, and can be made a bit prettier with some refactorin

[2017-04-01 05:59] AdamBJ commented on #14
Not quite out of the woods yet as it turns out. Still have that `> No value has been specified for property 'sourceSet'.` error. Not sure what's causing that. I've renamed every variable called `sourceSet` to something else. `sourceSet` doesn't occur anywhere int he `umple.gradle` project, but the error is still there.

Update: this is driving me crazy! I've never had to specify a `sourceSet` prop

[2017-04-01 11:38] Nava2 commented on #14
Can you push what you've got? Just tag the commit with skip ci (in square brackets, mobile keyboard doesn't have them...), and Travis won't run it. This all looks good, I'm happy to look at it today, finally got some time to myself.

[2017-04-01 17:46] AdamBJ commented on #14
@Nava2 Pushed: https://github.com/umple/umple.gradle/commit/158bf03ce788555866fdc796b4ad6c31e1cbc59b

[2017-04-02 05:19] Nava2 commented on #14
Check out the changes I made in ef3750d.

I noticed this message after running `check`:
[code]

I think it leads from the bolded point below..

TODO:

1. [ ] Create a better testing suite -- the "properties-as-strings" approach is nasty, we need to do better
2. [ ] Re-enable integration testing
3. [x] **Verify what I did makes sense.. I think I may have excessively created the "config-style" as I'

[2017-04-06 21:41] AdamBJ commented on #15
@vahdat-ab I'm not sure if I'm going to have time to get to this task before the semester is finished, but I'm going to try. Can you tell me:

a) are there `.ump` files that need to be compiled as part of the build? If so, where can I find them?
b) which Java files need to be included in the build?
c) Is the goal to output a single jar? What are the dependencies?

[2017-04-06 21:55] vahdat-ab commented on #15
This is not a hight priority task. I think it is better to focus on other parts of the project currently.
Just for info:
- There is no Umple file involved in the plugin.
- These are project folders
`org.cruise.umple.eclipse.plugin` the main plugin which has a copy of umple.jar in. We don't need to have it because in the build process we can easily copy and then remove it.
`org.cruise.umple.eclipse

[2017-04-08 18:20] AdamBJ opened #17 "Intermittent Umple compilation error breaking Gradle quick build"
When running the Gradle version of the "quick build" I'm encountering a periodic Umple compilation error that's breaking the build. Sometimes an extra '}' is being added to `DocumenterMain.java`, which is one of the files we generate during the build process. Doing a quick build with Ant seems to temporarily fix the problem, but the problem always resurfaces after a couple Gradle builds.

It may b

[2017-04-08 20:03] AdamBJ opened #18 "Refactor main Umple project to make it more consistent (and better suited to a Gradle build)"
The convention we've specified for when the Gradle plugin is used in a Gradle build is that .ump files are located in `src/{source set name}/umple`. For example, if we're using the `main` `SourceSet`, the umple files should be in `src/main/umple`. The umple sub projects involved in a build violate this convention in various ways. Some umple files are stored in `{sub project root}/src/`, others are

[2017-04-08 20:05] AdamBJ commented on #18
@Nava2 @vahdat-ab I'm going to do some of the directory restructuring work as part of the work I'm doing for the Gradle quick build. The hard coded stuff can't really be dealt with until we either change the Ant build (bad idea since we're going to replace it) or replace it with a full Gradle build, though. We shouldn't forget about getting rid of the hard coded junk once people have switched over

[2017-04-08 20:33] Nava2 commented on #18
Don't forget, the main intention is to have both building in parallel for awhile while bugs are ironed out. This means changing the ant build. Don't need to change it much, but moving the folders around is reasonable to change within Ant.

[2017-04-09 21:03] AdamBJ commented on #17
@vahdat-ab This issue seems to be getting worse. Now when I generate the source for `cruise.umple` I'm getting a bunch of junk added to the generated Java files. For example, for `EcoreClass.java`:

[code]

Here's what it should be:
[code]
I have no idea what is causing this issue, but it's now consistently blocking the Gradle build from completing, and seems to be permanently breaking my main Ump

[2017-04-09 21:25] vahdat-ab commented on #17
Based on my experience, there is no issue when you call `Umple.jar` to generate code. This happens when you all the class programmatically. The issue I got was happening when a class has a `'main` method which triggers the generator to generates proper executable methods with thread. I have never had an issue when there was no `main` method. Is it possible for you to try to build the system with a

[2017-04-09 21:37] vahdat-ab commented on #18
don't do any changes to Ant files or its structures. We will have Gradle in the parallel with Ant. Do whatever is required for Gradle without breaking Ant :-)

[2017-04-09 21:40] AdamBJ commented on #17
It's still an issue using the March 16, 2016 release

[2017-04-09 21:50] vahdat-ab commented on #17
Do you have the method `main` in those files?

[2017-04-09 21:51] AdamBJ commented on #17
`EcoreClass` doesn't have a main :S

[2017-04-09 22:26] vahdat-ab commented on #17
so that is not the issue I got

[2017-04-09 22:59] AdamBJ commented on #10
@Nava2 @vahdat-ab Here's the rough quick-build: https://github.com/AdamBJ/umple/commits/Umple_Gradle_Build_PoC

It works, aside from the issues described in #17. The way I got around the code generation problems for testing purposes was by using the source generated by the normal Ant build. When the source has been generated properly the Gradle build compiles and packages everything up into a comp

[2017-04-09 23:04] AdamBJ opened #20 "Refine Gradle "quick build""
We've now got a rough quick build working (by quick build I mean a replacement for ant -Dmyenv=local -f build.umple.xml codegen umpleParser rtcpp umpleSelf compile packageJars). We now need to refine the build and fix a few critical issues.

First, we're still getting intermittent build failures due to the way Umple is generating Java from the Umple source. As documented in #17, this is probably b

[2017-04-09 23:07] Nava2 commented on #10
* "customMasterPath"?
* There looks like a lot of common code that just changes by name, is that something we could use a variable for?
* [this](https://github.com/umple/umple/compare/master...AdamBJ:Umple_Gradle_Build_PoC#diff-c197962302397baf3a4cc36463dce5eaR58) could be done in each lower build script instead
* I'd rather [this](https://github.com/umple/umple/compare/master...AdamBJ:Umple_Gradl

[2017-04-09 23:07] #10 closed

[2017-04-09 23:17] AdamBJ commented on #10
I've got some plugin changes that I haven't pushed yet. That flag allows the user to override the `src/{source set name}/umple convention`. It's false by default and if someone chooses not to use it the plugin operates in the same way as always.

I'll provide more details when I push, but the way the plugin was before, the user had no choice but to use the `src/{source set name}/umple convention`.

[2017-04-09 23:29] AdamBJ commented on #20
Reposting responses to initial feedback from Kevin here:

I've got some plugin changes that I haven't pushed yet. That flag allows the user to override the `src/{source set name}/umple convention`. It's false by default and if someone chooses not to use it the plugin operates in the same way as always.

I'll provide more details when I push, but the way the plugin was before, the user had no choic

[2017-04-10 00:45] Nava2 commented on #20
Would this be the use of the `srcDir` field?

Please mention this somewhere, I can get behind that idea; I just don't want it ever being considered final.

Attach the dependencies in the build scripts themselves, not this one.

Rewrite the ivy file using: https://docs.gradle.org/current/userguide/artifact_dependencies_tutorial.html

You're making it strange for others due to your use case. For oth

[2017-04-10 01:56] AdamBJ commented on #20
No. `srcDir` is used in the root project's `build.gradle` file because the root project doesn't ever call `compileUmple` (it doesn't even apply the Umple gradle plugin). Since this doesn't happen, the automatic configuration of `srcDir` doesn't happen. It needs to be configured manually.

My original intent for the root project was for it to basically just contain the `packageUmpleCompilerJar` tas

[2017-04-10 02:38] Nava2 commented on #20
Okay, I trust your judgement.

Can you open an issue on the Umple project after the build is brought in? Seems like a simple low-hanging-fruit for someone else.

Works for me.

I'd be happy if that's the case. 👍

[2017-04-10 06:16] AdamBJ opened #21 "Expand test case coverage, improve existing tests"
- [ ] Multiple languages specified for a single build file
- [ ] Multiple `master` files specified for a single build
- [ ] Ruby, Sql, C++, Php generation tests
- [ ]  Test that master file paths are being generated properly, even in a sub project. See https://github.com/umple/umple.gradle/commit/40d6ecaca9d307c3097d1027f838957227d8fc28#commitcomment-21693148
- [ ] Test that autoboxing is working

[2017-04-10 06:18] AdamBJ commented on #7
This testing style described in this issue doesn't really apply anymore. I'm closing it in favour of issue #21

[2017-04-10 06:18] #7 closed

[2017-04-10 06:20] AdamBJ commented on #5
@vahdat-ab Can I close this issue? The plugin is so different than it was in December I'm not sure it still applies.

[2017-04-11 22:17] vahdat-ab commented on #5
Yes. This issue is closed because the plugin has been changed a lot and it is not valid anymore.

[2017-04-11 22:17] #5 closed

[2017-05-13 23:35] AdamBJ commented on #21
@Nava2 Hey Kevin, I've got my plans more-or-less set for summer now. I'll be working full time, but would still like to continue with the test case stuff for the plugin we discussed at the end of last semester.

Unfortunately, my hard drive failed earlier this week, and with it went the development Gradle/Umple development environment. I'm going to try and get it up-and-running again, but my bandw

[2017-05-15 13:22] Nava2 commented on #21
So, I want to do some work on this project, getting it closer -- but I'm hurting for time with finishing up my thesis. I can probably take a more hands-off approach than I was before. I can also answer emails and do little things. 👍

[2017-05-27 02:33] Nava2 commented on #14
Random note: Gradle uses slf4j, so to properly log while running gradle you need to do:

[code]

and just use it... No idea why I didn't think about this earlier.

[2017-05-27 03:24] Nava2 commented on #14
Also... https://docs.gradle.org/3.3/userguide/test_kit.html#sub:test-kit-debug

asdfajshdfkajshdfasdflkjhasdfasd. There, I got out my frustration about not finding this until now.

[2017-05-29 04:33] AdamBJ commented on #14
Do you mean we missed some functions that make working with a `BuildResult` easier? Or, were you hoping to test with other versions of Gradle, too?

[2017-05-29 13:00] Nava2 commented on #14
Debugging the actual plugin itself. I was trying to do it all via "println()" when there is support for debugging the plugin itself. I just missed it in the docs.

[2017-05-30 02:22] AdamBJ commented on #14
Ah, yeah I see it at the bottom. That would have been handy! I'm going to see if I can get the debugger working in Eclipse.

[2017-06-04 00:14] AdamBJ commented on #14
Ugh, nothing with Gradle is ever easy. Have you gotten the debugger working in IntelliJ? I think I'm close with Eclipse, but I'm getting a error that says the `gradlePlugin()` method is undefined. [This ](https://stackoverflow.com/questions/28437636/how-to-debug-a-gradle-build-gradle-file-in-a-debugger-with-breakpoints) is the guide I'm following. I'll fiddle around a bit more later tonight.

[2017-06-04 01:10] Nava2 commented on #14
I've got it working in IntelliJ, not Eclipse:

https://github.com/assertj/assertj-generator-gradle-plugin/blob/master/src/test/groovy/org/assertj/generator/gradle/SimpleBuild.groovy

This is how I was launching the debugger. Important [line](https://github.com/assertj/assertj-generator-gradle-plugin/blob/master/src/test/groovy/org/assertj/generator/gradle/SimpleBuild.groovy#L132).

[2017-07-15 17:30] AdamBJ commented on #21
One thing we should address is how `master` is still something like 19 commits behind `ss-config-n2`. Hopefully we can merge it into master before the summer is over, but if we don't we should put out some big, loud signposts for whoever is working on this next. Wouldn't want them to start working on the `master` branch.

[2017-07-15 17:32] AdamBJ commented on #21
My goal for the summer is:
1) Make sure the job of whoever starts on this project next is as easy as possible. Cleanup readme, add quickstart section etc so that the next person can get up and running as quickly as possible.
2) Check off as many of the boxes in the above list as possible.

[2017-08-21 15:20] AdamBJ commented on #21
@Nava2 what version of gradle are you using when working with the Umple plugin? I've been getting some weird `org.gradle.tooling.BuildException: Could not execute build using Gradle distribution 'https://services.gradle.org/distributions/gradle-3.4.1-bin.zip'.` errors and am wondering if it's because I've upgraded to a newer version of gradle.

[2017-08-23 00:03] AdamBJ commented on #21
Never mind, it was related to another issue.

[2017-08-23 00:17] Nava2 commented on #21
Good because I also forgot to reply.. 😥

[2017-08-24 02:49] AdamBJ commented on #21
@Nava2  Alright, I think I've fixed the problem I was having, but I've come across something perplexing. If I recall correctly, the command:

`$ java -jar umple-latest.jar -c -g master.ump`

Should generate whichever `.java` files are encoded by `master.ump`, and then compile them into `.class` files. However, I'm only getting `.java` files out right now. What gives? It's messing with the gradle t

[2017-08-24 03:36] Nava2 commented on #21
I don't think Umple uses javac at all. So, just Java is the expectation.

[2017-08-24 03:37] Nava2 commented on #21
I actually built this awhile ago, it might be useful to read through it. I did many of the things I wanted to so with this plugin within.

https://github.com/assertj/assertj-generator-gradle-plugin

I have some other projects to finish at the moment (Masters' defence is on Monday), but I can probably look at this shortly. 👍

[2017-08-24 03:56] AdamBJ commented on #21
Wow! Good luck on Monday! I'll have a look at the other plugin as I (hopefully) start adding more tests in the coming days.

Here are the lines that check for the `.class` files: https://github.com/umple/umple.gradle/blob/c577ee93d7f0ddb8f5babd5eb561924e70216c5f/src/integrationTest/groovy/CompilationAndGeneration.groovy#L19

Were we doing something extra to compile the `.java` files? I can't remem

[2017-08-24 11:45] TimLethbridge commented on #21
Inr reply to the earlier question. The correct way to compile is

[code]

That will generate java files (no -c or -g options)

If you want classfiles then

[code]

[2017-08-24 12:39] Nava2 commented on #21
My memory failed me, thanks @TimLethbridge.

[2017-08-24 16:41] AdamBJ commented on #21
@TimLethbridge You mean `-c -g`, right? Not `-c -`.

[2017-08-25 13:10] TimLethbridge commented on #21
No I mean `-c -` not `-c -g`

[2017-08-25 13:14] TimLethbridge commented on #21
Sorry I was responding to what I think was a private message where I was asked if my comments were correct. I don't see that message above